<div class="page-header">
  <%= link_to new_cliente_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cliente
  <% end %>
  <h1>Listing clientes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
	      <td><%= link_to cliente.nombre.humanize, edit_cliente_path(cliente) %></td>
              <td><%= delete_link cliente_path(cliente) %></td>
      <% end %>
    </tbody>
  </table>
</div>
