<% content_for :header do %>
	<h1>Tareas</h1>
	<%= link_to "Nueva tarea", new_tarea_path %>
<% end %>

<ul data-role="listview">
<% @tareas.each do |tarea| %>
	<div class="ui-grid-a">
	<div class="ui-block-a">
	<li><%= tarea.actividad %> </li>
		
	</div>
	<div class="ui-block-b">
	<li><%= tarea.hh %></li>
		
	</div>
		
	</div>
<% end %>
</ul>

