<div class="page-header">
  <%= link_to tareas_path, :class => 'btn btn-default', "data-no-turbolink" => true do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h3>Nueva tarea</h3>
</div>

<%= render 'form' %>
