<%= content_tag :h2, "Tareas de los desarrolladores" %>

<div class="container">
	<div class="row">
		<div class="span4" id='g2'>
			<h4>Filtrar por Desarrollador
			<a class="reset"
			    href="javascript:partChart.filterAll();dc.redrawAll();"
			    style="display: none;">
			    Reset
			  </a></h4>
		</div>
		<div class="span8">
			<div class="row">
				<div class="span4" id="g3">
					<h4>Filtrar por Proyecto
						<a class="reset"
							href="javascript:proyChart.filterAll();dc.redrawAll();"
							style="display: none;">
							Reset</a>
					</h4>
				</div>
				<div class="span4" id="g4">
					<h4>Filtrar por Tipo de Tarea 
						<a class="reset"
							href="javascript:clienteChart.filterAll();dc.redrawAll();"
							style="display: none;">
							Reset</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span4" id='g5'>
			<h4>HH Proyectadas vs Reales
				<a class="reset"
					href="javascript:hhChart.filterAll();dc.redrawAll();"
					style="display: none;">
					Reset</a>
				</h4>
		</div>
		<div class="span8" id='g1'>
			<h4>Tareas en HH en función del tiempo
				<a class="reset"
					href="javascript:hhChart.filterAll();dc.redrawAll();"
					style="display: none;">
					Reset</a>
				</h4>
		</div>
	</div>
</div>

<div class="dc-data-count" style="float: left;">
	<h3>Tareas registradas, 
		<span>
			<span class="filter-count"></span>
			seleccionadas de un total de
			<span class="total-count"></span>
			.|
			<a href="javascript:dc.filterAll(); dc.renderAll();">Reset todo</a>
		</span>
	</h3>
</div>

<div class="container" style='font: 12px sans-serif'>
	<div class="row">
		<div class="span12">
			<table id="t1" class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Fecha Registro</th>
						<th>Desarrollador</th>
						<th>Proyecto</th>
						<th>HH</th>
						<th>Actividad</th>
						<th>Módulo</th>
						<th>R. Sistema</th>
						<th>R. Planta</th>
						<th>Lugar</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


<%= javascript_include_tag params[:controller] %>
