<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Nombre="libro1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Proyecto</Data></Cell>
        <Cell><Data ss:Type="String">HH</Data></Cell>
        <Cell><Data ss:Type="String">Fecha</Data></Cell>
      </Row>
    <% @tareas.each do |tarea| %>
      <Row>
        <Cell><Data ss:Type="String"><%= tarea.user.usuario %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tarea.proyecto.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tarea.hh %></Data></Cell>
        <Cell><Data ss:Type="String"><%= tarea.fecha_registro %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
