<% if current_user.has_role? :admin %>
<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
   Volver 
  <% end %>
  <h1>Editar usuario</h1>
</div>

<% else %>
<div class="page-header">
  <%= link_to tareas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
   Volver 
  <% end %>
  <h1>Editar usuario</h1>
</div>

<% end  %>
<%= render 'form' %>
