<% if current_user.has_role? :admin %>
<div class="page-header">
	<%= link_to users_path, "data-no-turbolink" => true,  :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
   Volver 
  <% end %>
  <h3>Editar usuario</h3>
</div>

<% else %>
<div class="page-header">
	<%= link_to tareas_path, "data-no-turbolink" => true,  :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
   Volver 
  <% end %>
  <h3>Editar usuario</h3>
</div>

<% end  %>
<%= render 'form' %>
