<div class="page-header">
  <%= link_to cliente_lugar_responsables_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <h4>Editar responsable</h4>
</div>

<%= render 'form' %>

