<div class="container">
	<div class="row">
		<div class="span4" id='chart-ring-year'>
		</div>
		<div class="span4" id='chart-hist-spend'>
		</div>
		<div class="span4" id='chart-row-spenders'>
		</div>
	</div>
</div>


<%= javascript_include_tag params[:controller] %>
